* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f26a2e;
  --secondary-color: #f7f7f7;
  --background-color: #fff;
  --text-color: #333;
  --border-color: #ccc;
  --border-radius: 0.25rem;
  --transition: all 0.3s linear;
  --footer-height: 60px;
  --footer-background: #2f0822;
  --footer-text-color: #f7f7f7;
  --footer-padding: 1rem;
  --anchor-color: #fff200;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

.header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 2rem 0;
  text-align: center;
}

.header h3 {
  color: #eadf11;
  text-shadow: 2px 1px 5px #2f2d2d;
}

.header h3 a {
  text-decoration: none;
  color: #eadf11;
}

.header h3 a:hover {
  color: lightgray;
}

.main {
  padding: 1rem;
  text-align: justify;
}

.section {
  margin: 2rem 0;
  font-size: 1.1rem;
}

.section h2 {
  margin-bottom: 1rem;
}

.section p {
  margin-bottom: 1rem;
}

.container {
  padding: 1rem;
}

.container .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.card {
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 1rem;
}

.container .cards .card a {
  color: var(--text-color);
  text-decoration: none;
}

.container .cards .card a:hover {
  color: var(--primary-color);
}


.footer {
  background-color: var(--footer-background);
  color: var(--footer-text-color);
  text-align: center;
  padding: var(--footer-padding);
  width: 100%;
  margin-top: 2rem;
}

.footer p {
  margin: 0;
}

.footer a {
  color: var(--anchor-color);
  text-decoration: none;
}
